[submodule "recon/SharpUp"]
	path = recon/SharpUp
	url = https://github.com/GhostPack/SharpUp.git
[submodule "recon/Seatbelt"]
	path = recon/Seatbelt
	url = https://github.com/GhostPack/Seatbelt.git
[submodule "misc/SharpDump"]
	path = misc/SharpDump
	url = https://github.com/GhostPack/SharpDump
[submodule "execution/SharpWMI"]
	path = execution/SharpWMI
	url = https://github.com/GhostPack/SharpWMI.git
[submodule "credentials/SafetyKatz"]
	path = credentials/SafetyKatz
	url = https://github.com/GhostPack/SafetyKatz.git
[submodule "credentials/SharpDPAPI"]
	path = credentials/SharpDPAPI
	url = https://github.com/GhostPack/SharpDPAPI.git
[submodule "credentials/Rubeus"]
	path = credentials/Rubeus
	url = https://github.com/GhostPack/Rubeus.git
[submodule "credentials/KeeThief"]
	path = credentials/KeeThief
	url = https://github.com/HarmJ0y/KeeThief.git
[submodule "post-exploitation/SharpUp"]
	path = post-exploitation/SharpUp
	url = https://github.com/GhostPack/SharpUp.git
[submodule "post-exploitation/Seatbelt"]
	path = post-exploitation/Seatbelt
	url = https://github.com/GhostPack/Seatbelt.git
[submodule "post-exploitation/Watson"]
	path = post-exploitation/Watson
	url = https://github.com/rasta-mouse/Watson.git
[submodule "recon/SharpHound"]
	path = recon/SharpHound
	url = https://github.com/BloodHoundAD/SharpHound.git
[submodule "recon/FOCA"]
	path = recon/FOCA
	url = https://github.com/ElevenPaths/FOCA.git
[submodule "Sharp-Suite"]
	path = Sharp-Suite
	url = https://github.com/FuzzySecurity/Sharp-Suite.git
[submodule "post-exploitation/SharpSploit"]
	path = post-exploitation/SharpSploit
	url = https://github.com/cobbr/SharpSploit.git
[submodule "evasion/nps"]
	path = evasion/nps
	url = https://github.com/Ben0xA/nps.git
[submodule "credentials/NtdsAudit"]
	path = credentials/NtdsAudit
	url = https://github.com/Dionach/NtdsAudit.git
